@page
@model IndexModel
@{
    ViewData["Title"] = "Panda Claus - Listy";
}

<!-- List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Listy</h1>
                    <p>Witamy w świecie Panda Claus! Przed Wami listy z marzeniami wyjątkowych dzieci - cichych superbohaterów, którzy na co dzień towarzyszą swojemu rodzeństwu w chorobie lub odchodzeniu. Wierzymy, że każde z nich znajdzie swojego PANDAstycznego Mikołaja.</p>
                    <p>Jak to działa?</p>
                    <p>Wybierz interesujący Cię list. Po kliknięciu zobaczysz krótki opis od rodziców dziecka oraz formularz rezerwacji. Kiedy go wypełnisz, otrzymasz na maila wszystkie techniczne informacje.</p>
                    <p>Numery z literkami np. 15a, 15b, 15c, oznaczają listy rodzeństwa z jednej rodziny. Zależy nam, aby jedna osoba/ekipa realizowała listy jednej rodziny, dlatego prosimy, aby w miarę możliwości rezerwować wszystkie listy z danego numeru. </p>
                    <p>Czas na realizację i dostarczenie prezentów do siedziby fundacji, Hope Spotu (Bolka 8A w Poznaniu) lub podanego w mailu paczkomatu, macie do 8 grudnia. </p>
                    <p>Dzieci często w listach wymieniają kilka swoich marzeń. Nie musisz spełniać wszystkich, wybierz tyle, ile możesz, a na pewno wywołasz uśmiech na twarzach maluchów.</p>
                    <p>Dziękujemy za Wasze zaangażowanie i dobre serca!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-5 text-center">
            <a href="/?filter=all" class="btn @Model.ButtonFiltersAll">Wszystkie</a>
            <a href="/?filter=available" class="btn @Model.ButtonFiltersAvailable">Dostępne</a>
            <a href="/?filter=reserved" class="btn @Model.ButtonFiltersReserved">Zarezerwowane</a>
        </div>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @foreach (var letter in Model.Letters)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden letter-small-image">
                                    <a asp-area="" asp-page="/Letter" asp-route-rowNumber="@letter.RowNumber">
                                        <img class="img-fluid" src="@letter.ImageIds.First()" alt="">
                                    </a>
                                    @if (letter.IsAssigned)
                                    {
                                        <div class="bg-primary rounded text-white position-absolute end-0 bottom-0 m-4 py-1 px-3 reserved">List zarezerwowany</div>
                                    }
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-3 py-1 px-3 number">@letter.Number</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <a class="d-block h5 mb-2" asp-area="" asp-page="/Letter" asp-route-rowNumber="@letter.RowNumber">@letter.ChildName<span>, </span>@letter.ChildAge <span>lat</span></a>
                                    <p>@letter.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
