@page
@model LetterModel
@{
    ViewData["Title"] = "List";
}

@section HeaderJS {
    <script>
        function confirmDelete() {
            return confirm("Czy na pewno chcesz usunąć to zdjęcie?");
        }
    </script>
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <h1 class="mb-4">@Model.Letter.ChildName<span>, lat </span>@Model.Letter.ChildAge</h1>

                <h2>Numer listu: @Model.Letter.Number</h2>
                @if (Model.Letter.IsAssigned)
                {
                    <p id="letter-reserved"><i class="fa fa-times text-primary me-3"></i>List zarezerwowany</p>
                }

                <div class="col-lg-12 wow fadeIn d-flex flex-wrap" data-wow-delay="0.1s" style="gap: 20px;">
                    @foreach (var imageUrl in Model.Letter.ImageUrls)
                    {   <div style="width: 340px;">
                            <div style="height: 300px;">
                                <a href="@imageUrl" target="_blank">
                                    <img class="d-block letter-big-image" src="@imageUrl" alt="letter image">
                                </a>
                                
                            </div>
                            @if (Model.IsAdmin)
                            {
                                <form method="post">
                                    <input type="hidden" name="imageUrl" value="@imageUrl" />
                                    <button type="submit" asp-page-handler="deleteImage" asp-route-imageUrl="@imageUrl"
                                            asp-route-rowNumber="@Model.Letter.RowNumber" class="btn btn-primary btn-sm mt-3 float-none"
                                            onclick="return confirmDelete();">
                                        Usuń
                                    </button>
                                </form>
                            }
                        </div>
                    }
                </div>
                @if (Model.IsAdmin)
                {
                    <h2>Dodaj zdjęcie</h2>
                    <form method="post" enctype="multipart/form-data">
                        <input type="text" class="d-none" id="rowNumber" name="RowNumber" value="@Model.Letter.RowNumber">
                        <div class="mb-4">
                            <label asp-for="UploadPhotos">Wyślij skan lub zdjęcie listu<span class="text-danger">*</span></label>
                            <input asp-for="UploadPhotos" type="file" class="form-control" id="file" accept=".jpg, .png, .jpeg, .bmp, .tif, .tiff" required multiple>
                            <button type="submit" asp-page-handler="uploadImage" asp-route-rowNumber="@Model.Letter.RowNumber"
                                    class="btn btn-primary btn-sm mt-3 float-end">
                                Dodaj zdjęcie
                            </button>
                        </div>
                    </form>
                }

                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                    <h3>Opis</h3>
                    <p class="mb-4">@Model.Letter.Description</p>
                    @if (!Model.Letter.IsAssigned)
                    {
                        <hr />
                        <h3>Zarezerwuj list</h3>
                        <form method="post">
                            <div class="container col-lg-6 offset-lg-3">
                                <input type="text" class="d-none" id="rowNumber" name="RowNumber" value="@Model.Letter.RowNumber">
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedTo">Imię i nazwisko <span class="text-danger">*</span></label>
                                    <input asp-for="Letter.AssignedTo" type="text" class="form-control" id="name" name="Letter.AssignedTo" placeholder="Wpisz imię i nazwisko" required>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToCompanyName">Nazwa firmy</label>
                                    <input asp-for="Letter.AssignedToCompanyName" type="text" class="form-control" id="company" name="Letter.AssignedToCompanyName" placeholder="Wpisz nazwę firmy">
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToEmail">E-mail <span class="text-danger">*</span></label>
                                    <input asp-for="Letter.AssignedToEmail" type="email" class="form-control" id="email" name="Letter.AssignedToEmail" placeholder="Wpisz adres e-mail" required>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToPhone">Numer telefonu <span class="text-danger">*</span></label>
                                    <input asp-for="Letter.AssignedToPhone" type="phone" class="form-control" id="phone" name="Letter.AssignedToPhone" placeholder="Wpisz numer telefonu" required>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToInfo">Informacje dodatkowe</label>
                                    <textarea asp-for="Letter.AssignedToInfo" rows="3" class="form-control" id="info" name="Letter.AssignedToInfo" placeholder="Wpisz dodatkowe informacje"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary py-3 px-5 mt-3">Zarezerwuj</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>