@page
@model LetterModel
@{
    ViewData["Title"] = "List";
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <h1 class="mb-4">@Model.Letter.ChildAge</h1>

                @if (Model.Letter.IsAssigned)
                {
                    <p id="letter-reserved"><i class="fa fa-times text-primary me-3"></i>List zarezerwowany</p>
                }

                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                    <div class="overflow-hidden carousel-background p-5 pe-0 carousel-width">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                @for (int i = 0; i < Model.Letter.ImageIds.Count(); i++)
                                {
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
                                }
                            </div>
                            <div class="carousel-inner">
                                @foreach (var imageUrl in Model.Letter.ImageIds)
                                {
                                    <div class="carousel-item carousel-big-image @(Model.Letter.ImageIds.First() == imageUrl ? "active" : "")">
                                        <a href="@imageUrl" target="_blank">
                                            <img class="d-block letter-big-image" src="@imageUrl" alt="letter image">
                                        </a>

                                    </div>
                                }
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Poprzedni</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Następny</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
                    <p class="mb-4">@Model.Letter.Description</p>
                    @if (!Model.Letter.IsAssigned)
                    {
                        <hr />
                        <h3>Zarezerwuj list</h3>
                        <form method="post">
                            <div class="container col-lg-6 offset-lg-3">
                                <input type="text" class="d-none" id="rowNumber" name="RowNumber" value="@Model.Letter.RowNumber">
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedTo">Imię i nazwisko <span class="text-danger">*</span></label>
                                    <input asp-for="Letter.AssignedTo" type="text" class="form-control" id="name" name="Letter.AssignedTo" placeholder="Wpisz imię i nazwisko" required>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToCompanyName">Nazwa firmy</label>
                                    <input asp-for="Letter.AssignedToCompanyName" type="text" class="form-control" id="company" name="Letter.AssignedToCompanyName" placeholder="Wpisz nazwę firmy">
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToEmail">E-mail <span class="text-danger">*</span></label>
                                    <input asp-for="Letter.AssignedToEmail" type="email" class="form-control" id="email" name="Letter.AssignedToEmail" placeholder="Wpisz adres e-mail" required>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToPhone">Numer telefonu <span class="text-danger">*</span></label>
                                    <input asp-for="Letter.AssignedToPhone" type="phone" class="form-control" id="phone" name="Letter.AssignedToPhone" placeholder="Wpisz numer telefonu" required>
                                </div>
                                <div class="form-group mb-4">
                                    <label asp-for="Letter.AssignedToInfo">Informacje dodatkowe</label>
                                    <textarea asp-for="Letter.AssignedToInfo" rows="3" class="form-control" id="info" name="Letter.AssignedToInfo" placeholder="Wpisz dodatkowe informacje"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary py-3 px-5 mt-3">Zarezerwuj</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>