@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PandaClaus.Web.Core
@model StatusUpdateModel
@{
    ViewData["Title"] = "Zmień status";
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                @if (Model.Letter == null)
                {
                    <div class="col-lg-12 mb-3 text-center">
                        <form method="post">
                            <input type="text" name="letterNumber" class="form-control d-inline-block w-50" placeholder="Podaj numer listu" />
                            <button type="submit" class="btn btn-primary" asp-page-handler="setLetterNumber">Szukaj</button>
                        </form>
                    </div>
                }
                else
                {
                    <h1 class="mb-4">@Model.Letter.ChildName<span>, lat </span>@Model.Letter.ChildAge</h1>

                    <h2>Numer listu: @Model.Letter.Number</h2>
                    <h2>Status: @Model.Letter.Status</h2>

                    <div class="row">
                        <div class="progress" style="height: 30px;">

                            <div class="progress-bar @(Model.Letter.Status == LetterStatus.DODANY ? "bg-success" : "bg-primary")" role="progressbar" style="width: 16%;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100">
                                Dodany
                            </div>
                            <div class="progress-bar @(Model.Letter.Status == LetterStatus.DOSTARCZONY ? "bg-success" : "bg-primary")" role="progressbar" style="width: 16%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">
                                Dostarczony
                            </div>
                            <div class="progress-bar @(Model.Letter.Status == LetterStatus.SPRAWDZONY ? "bg-success" : "bg-primary")" role="progressbar" style="width: 16%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                Sprawdzony
                            </div>
                            <div class="progress-bar @(Model.Letter.Status == LetterStatus.SPAKOWANY ? "bg-success" : "bg-primary")" role="progressbar" style="width: 16%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">
                                Spakowany
                            </div>
                            <div class="progress-bar @(Model.Letter.Status == LetterStatus.UDEKOROWANY ? "bg-success" : "bg-primary")" role="progressbar" style="width: 16%;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">
                                Udekorowany
                            </div>
                            <div class="progress-bar @(Model.Letter.Status == LetterStatus.ZAADRESOWANY ? "bg-success" : "bg-primary")" role="progressbar" style="width: 16%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                Zaadresowany
                            </div>
                        </div>
                    </div>
                    <form method="post">
                        <input type="hidden" name="number" value="@Model.Letter.RowNumber" />
                        
                        <div class="mb-4">
                            <label asp-for="Letter.Uwagi">Uwagi - widoczne tylko dla wolontariuszy</label>
                            <textarea asp-for="Letter.Uwagi" rows="3" class="form-control" id="Uwagi" value="@Model.Letter.Uwagi"></textarea>
                        </div>

                        @switch (Model.Letter.Status)
                        {
                            case LetterStatus.DODANY:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="DOSTARCZONY">Oznacz jako dostarczony</button>
                                break;
                            case LetterStatus.DOSTARCZONY:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="SPRAWDZONY">Oznacz jako sprawdzony</button>
                                break;
                            case LetterStatus.SPRAWDZONY:
                                <div class="mb-3">
                                    <label for="gabaryt" class="form-label">Gabaryt</label>
                                    <select id="gabaryt" name="gabaryt" class="form-select">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="N">N</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="SPAKOWANY">Oznacz jako spakowany</button>
                                break;
                            case LetterStatus.SPAKOWANY:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="UDEKOROWANY">Oznacz jako udekorowany</button>
                                break;
                            case LetterStatus.UDEKOROWANY:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="ZAADRESOWANY">Oznacz jako zaadresowany</button>
                                break;
                        }

                    </form>
                }
            </div>

        </div>
    </div>
</div>