@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PandaClaus.Web.Core
@model StatusUpdateModel
@{
    ViewData["Title"] = "Zmień status";
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <h1>@Request.Query["message"]</h1>

                @if (Model.Letter == null)
                {
                    <h2>Podaj numer listu</h2>
                    <div class="col-lg-12 mb-3 text-center">
                        <form method="post">
                            <input type="text" name="letterNumber" class="form-control d-inline-block w-50 mx-2" placeholder="Podaj numer listu" />
                            <button type="submit" class="btn btn-primary" asp-page-handler="setLetterNumber">Szukaj</button>
                        </form>
                    </div>
                }
                else
                {
                    <h1 class="mb-4">@Model.Letter.ChildName<span>, </span>@Model.Letter.ChildAge.FormatAsAge()</h1>

                    <h2>Numer listu: @Model.Letter.Number</h2>
                    <h2>Status: @StatusHelper.GetStatusDescription(@Model.Letter?.Status ?? LetterStatus.NIE_WIADOMO)</h2>

                    <div>
                        <ul class="list-group">
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.NIE_WIADOMO ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.NIE_WIADOMO)</li>
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.DOSTARCZONE ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.DOSTARCZONE)</li>
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.W_TRAKCIE_SPRAWDZANIA ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.W_TRAKCIE_SPRAWDZANIA)</li>
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.ODLOZONE ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.ODLOZONE)</li>
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.SPRAWDZONE ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.SPRAWDZONE)</li>
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.SPAKOWANE ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.SPAKOWANE)</li>
                            <li class="list-group-item @(Model.Letter.Status == LetterStatus.ZAADRESOWANE ? "list-group-item-success" : "list-group-item-light")">@StatusHelper.GetStatusDescription(LetterStatus.ZAADRESOWANE)</li>
                        </ul>
                    </div>

                    <form method="post">
                        <input type="hidden" name="number" value="@Model.Letter.RowNumber" />

                        <div class="mb-4">
                            <label for="uwagi">Uwagi - widoczne tylko dla wolontariuszy</label>
                            <textarea rows="3" class="form-control" id="uwagi" name="uwagi">@Model.Letter.Uwagi</textarea>
                        </div>

                        <div class="@(Model.Letter.Status == LetterStatus.SPRAWDZONE ? "" : "d-none")">
                            <div class="mb-3">
                                <label for="package1Size" class="form-label">Paczka 1 - gabaryt</label>
                                <select id="package1Size" name="package1Size" class="form-select" asp-for="@Model.Package1Size" required>
                                    <option value="None" disabled selected>Wybierz gabaryt</option>
                                    <option value="A">A (8 × 38 × 64 cm, max 25kg)</option>
                                    <option value="B">B (19 × 38 × 64 cm, max 25 kg)</option>
                                    <option value="C">C (41 × 38 × 64 cm, max 25kg)</option>
                                    <option value="N">N - niestandardowy (wpisz w Uwagach dlaczego)</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="package2Size" class="form-label">Paczka 2 - gabaryt (opcjonalnie)</label>
                                <select id="package2Size" name="package2Size" class="form-select" asp-for="@Model.Package2Size" required>
                                    <option value="None">Wybierz gabaryt</option>
                                    <option value="A">A (8 × 38 × 64 cm, max 25kg)</option>
                                    <option value="B">B (19 × 38 × 64 cm, max 25 kg)</option>
                                    <option value="C">C (41 × 38 × 64 cm, max 25kg)</option>
                                    <option value="N">N - niestandardowy (wpisz w Uwagach dlaczego)</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="package3Size" class="form-label">Paczka 3 - gabaryt (opcjonalnie)</label>
                                <select id="package3Size" name="package3Size" class="form-select" asp-for="@Model.Package3Size" required>
                                    <option value="None">Wybierz gabaryt</option>
                                    <option value="A">A (8 × 38 × 64 cm, max 25kg)</option>
                                    <option value="B">B (19 × 38 × 64 cm, max 25 kg)</option>
                                    <option value="C">C (41 × 38 × 64 cm, max 25kg)</option>
                                    <option value="D">D (80 x 50 x 50 cm, max 25kg)</option>
                                    <option value="N">N - niestandardowy (wpisz w Uwagach dlaczego)</option>
                                </select>
                            </div>
                        </div>

                        @switch (Model.Letter.Status)
                        {
                            case LetterStatus.NIE_WIADOMO:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="DOSTARCZONE">Zmień status na: Dostarczono paczki</button>
                                break;
                            case LetterStatus.DOSTARCZONE:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="W_TRAKCIE_SPRAWDZANIA">Zmień status na: Paczki w trakcie sprawdzania</button>
                                break;
                            case LetterStatus.W_TRAKCIE_SPRAWDZANIA:
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-primary me-2" asp-page-handler="setStatus" asp-route-status="SPRAWDZONE">Zmień status na: Paczki sprawdzone</button>
                                    <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="ODLOZONE">Zmień status na: Paczki odłożone do ponownego sprawdzenia</button>
                                </div>
                                break;
                            case LetterStatus.ODLOZONE:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="W_TRAKCIE_SPRAWDZANIA">Zmień status na: Paczki w trakcie sprawdzania</button>
                                break;
                            case LetterStatus.SPRAWDZONE:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="SPAKOWANE">Zmień status na: Paczki spakowane</button>
                                break;
                            case LetterStatus.SPAKOWANE:
                                <button type="submit" class="btn btn-primary" asp-page-handler="setStatus" asp-route-status="ZAADRESOWANE">Zmień status na: Paczki zaadresowane</button>
                                break;
                        }

                    </form>
                }
            </div>

        </div>
    </div>
</div>