@page
@{
    Layout = null;
}
@model PandaClaus.Web.Pages.StatsModel
@{
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda Claus - Statystyki</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="bg-white">
    <div class="container-fluid bg-white">
        <div class="container-xxl bg-white">
            <div>
                <img class="img-fluid" src="img/panda_claus_logo.png" alt="Panda Claus logo" style="height: 100px">
            </div>
        </div>

        <div class="container-xxl bg-white pt-2">
            <div class="text-center">
                <p class="h2 text-center">Dostarczono listów do magazynu: @Model.Statistics.Wiadomo / @Model.Statistics.Letters</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Statistics.WiadomoPercentage%" aria-valuenow="@Model.Statistics.WiadomoPercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="container-xxl bg-white pt-2">
            <div class="text-center">
                <p class="h2 text-center">Listów w trakcie sprawdzania: @Model.Statistics.WTrakcieSprawdzania / @Model.Statistics.Letters</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Statistics.WTrakcieSprawdzaniaPercentage%" aria-valuenow="@Model.Statistics.WTrakcieSprawdzaniaPercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="container-xxl bg-white pt-2">
            <div class="text-center">
                <p class="h2 text-center">Listy sprawdzone: @Model.Statistics.Sprawdzone / @Model.Statistics.Letters</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Statistics.SprawdzonePercentage%" aria-valuenow="@Model.Statistics.SprawdzonePercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="container-xxl bg-white pt-2">
            <div class="text-center">
                <p class="h2 text-center">Listy spakowane: @Model.Statistics.Spakowane / @Model.Statistics.Letters</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Statistics.SpakowanePercentage%" aria-valuenow="@Model.Statistics.SpakowanePercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="container-xxl bg-white pt-2">
            <div class="text-center">
                <p class="h2 text-center">Listy zaadresowane: @Model.Statistics.Zaadresowane / @Model.Statistics.Letters</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: @Model.Statistics.ZaadresowanePercentage%" aria-valuenow="@Model.Statistics.ZaadresowanePercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="container-xxl bg-white pt-5">
            <div class="row text-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <p class="h5">Listów do sprawdzenia</p>
                        </div>
                        <div class="card-body">
                            <p class="stats-card text-primary">@Model.Statistics.DoSprawdzenia</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <p class="h5">Odłożone do ponownego sprawdzenia</p>
                        </div>
                        <div class="card-body">
                            <p class="stats-card text-danger">@Model.Statistics.Odlozone</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <p class="h5">Zaadresowanych paczek</p>
                        </div>
                        <div class="card-body">
                            <p class="stats-card text-success">@Model.Statistics.ZaadresowanePaczki</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-xxl bg-white">
            <div style="text-align: center;">
                <img src="~/img/inpost_logo.png" class="m-3 m-lg-5" alt="InPost logo" />
                <img src="~/img/grupa_mtp_logo.png" class="m-3 m-lg-5" alt="Grupa MTP logo" height="100" />
                <img src="~/img/dudacars_logo.svg" class="m-3 m-lg-5" alt="Duda Cars logo" height="100" />
                <img src="~/img/remondis_logo.svg" class="m-3 m-lg-5" alt="Remondis logo" height="100" />
                <img src="~/img/bibliopunkt_logo.jpg" class="m-3 m-lg-5" alt="Bibliopunkt logo" height="100" />
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        setTimeout(function(){
            location.reload();
        }, 30000);
    </script>
</body>
</html>
